# ==============================================================================
# Variables de Entorno - Infraestructura Local GlobalMart OS
# Copiar este archivo como ".env" en la misma carpeta (Docker/)
# NOTA: El archivo .env real NO debe subirse al control de versiones git.
# ==============================================================================

# --- Credenciales de Bases de Datos PostgreSQL 16 ---
DB_USER=admin
DB_PASSWORD=admin_password

# --- Apache Zookeeper (Coordinador) ---
ZOOKEEPER_PORT=2181
ZOOKEEPER_TICK_TIME=2000
ZOOKEEPER_IMAGE=confluentinc/cp-zookeeper:7.6.1
ZOOKEEPER_HEAP_OPTS=-Xmx256m -Xms128m

# --- Apache Kafka Broker ---
KAFKA_PORT=9092
KAFKA_INTERNAL_PORT=29092
KAFKA_HOST=localhost
KAFKA_IMAGE=confluentinc/cp-kafka:7.6.1
KAFKA_HEAP_OPTS=-Xmx512m -Xms256m

# --- Configuración de Topics Iniciales ---
# Lista de topics separados por coma aprovisionados automáticamente al inicio
KAFKA_INIT_TOPICS=sale.completed,stock.alert,expiry.alert,sale.reversed,stock.updated,purchase.received,fx.rate.updated,points.updated,tenant.created,tenant.updated,user.registered,product.created,product.price_updated,shift.closed,stock.low,product.expiring_soon,purchase_order.received
KAFKA_TOPIC_PARTITIONS=1
KAFKA_TOPIC_REPLICATION_FACTOR=1

# --- Kafdrop (UI Web de Kafka) ---
KAFDROP_PORT=9000

# --- Kong API Gateway (DB-less) ---
KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001

# --- Prometheus (Monitoreo) ---
PROMETHEUS_PORT=9090

# --- Grafana (Dashboards) ---
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
